<!-- <label for="merchant-select"></label>
<select name="id" id="merchant-select">
  <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
  <% end %>
</select> -->

<!-- I am stopping for the night at the point of trying to filter by multiple fields at once - i have identified the problem that both tag and merchant use id, which happens to be the param that I am needing to pass through - how am I going to solve this? -->

<!-- <label for="tag-select"></label>
<select name="id" id="tag-select">
  <% for tag in @tags %>
    <option value="<%= tag.id %>"><%= tag.name %></option>
  <% end %>
</select> -->
