<h1>Merchants</h1>

<p><b>Add A New Merchant:</b></p>

<form action="/banked/merchants" method="POST">

  <label for="name">Merchant Name:</label>
  <input type="text" name="name" id="name"/>

  <input type="submit" value="Add Merchant">

</form>

<p><b>All Current Merchants:</b></p>

<% @merchants.each do |merchant| %>

  <p>------------------------------</p>
  <p>Merchant ID: <%= merchant.id %></p>
  <p>Name: <a href="/banked/merchants/<%= merchant.id %>"><%= merchant.name %></a></p>
  <p>Total Spend: £<%= "%.2f" % Merchant.sum_merchant_values(merchant.id) %></p>

<% end %>
