<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="title">
    <h1>Merchants</h1>
    <img height="75px" class="logo_sm" src="/images/banked_logo_final.png" alt="BankEd: You Can Bank On Ed!">
  </div>

  <div class="content">
    <div class="new_entry">
      <p class="indent"><b>Add A New Merchant:</b></p>

      <form action="/banked/merchants" method="POST">

        <label for="name">Merchant:</label>
        <input type="text" name="name" id="name" required/>

        <input type="submit" value="Add Merchant">

      </form>
    </div>


    <div class="filter">
      <p class="indent"><b>Filter Merchants by Value:</b></p>

      <form action="/banked/merchants/filter_value" method="POST">

        <label for="value-select">By Value:</label>
        <select name="operator" id="value-select">
          <option value="less">Less Than</option>
          <option value="greater">Greater Than</option>
        </select>

        <label for="value">Value (£):</label>
        <input type="number" name="value" id="value" required/>

        <input type="submit" value="Filter By Value">

      </form>

      <a class="reset" href="/banked/merchants">Reset Filter</a>
    </div>


    <table>
      <caption>All Current Merchants</caption>
      <thead>
        <tr>
          <th scope="col">Merchant ID</th>
          <th scope="col">Name</th>
          <th scope="col">Total Spend</th>
        </tr>
      </thead>
      <tbody>
        <% @merchants.each do |merchant| %>
        <tr>
          <td data-label="Merchant"><%= merchant.id %></td>
          <td data-label="Name"><a href="/banked/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
          <td data-label="Total Spend">£<%= "%.2f" % Merchant.sum_merchant_values(merchant.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</body>
</html>
