<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="title">
    <h1>Merchant Details:</h1>
    <img height="75px" class="logo_sm" src="/images/banked_logo_final.png" alt="BankEd: You Can Bank On Ed!">
  </div>

  <div class="content">
    <div class="new_entry">
      <p class="indent"><b>Edit And Update Merchant:</b></p>

      <form action="/banked/merchants/<%= @merchant.id %>/edit" method="POST">

        <label for="name">Merchant:</label>
        <input type="text" name="name" id="name" value="<%= @merchant.name %>" required/>

        <input type="submit" value="Update Record">

      </form>

    </div>

    <div class="filter">
      <p class="indent"><b>Permanently Delete Merchant:</b></p>

      <form action="/banked/merchants/<%= @merchant.id %>/delete" method="POST">
        <button type="submit">Delete Record</button>
      </form>

      <p class="indent"><b><i>WARNING: this will also delete any associated Transactions.</i></b></p>
    </div>


  </div>

</body>
</html>
