<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BankEd</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/banked">Dashboard</a></li>
      <li><a href="/banked/transactions">Transactions</a></li>
      <li><a href="/banked/merchants">Merchants</a></li>
      <li><a href="/banked/tags">Tags</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
