/* nav ul {
  border: solid;
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: center;
  padding-left: 0px; */
  /* justify-content: flex-start; */
  /* width: 40%; */
/* } */

/* nav li {
  border: solid;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
} */

/* @media all and (max-width: 550px) {
  nav ul {
    flex-direction: column-reverse;
  }
} */

/* @media all and (min-width: 551px) {
  nav ul {
    flex-direction: row;
  }
} */


/* Main background */
html {
  background-color: white;
}
main {
  border: 3px solid rgb(65, 65, 66);
  margin-top: 5px;
  background-color: rgb(0, 83, 142)
}
div.title {
  display: flex;
}
.title {
  margin: 5px;
  padding-left: 20px;
  border: 3px solid rgb(65, 65, 66);
  background-color: rgb(94, 191, 227);
  font-family: Palatino;
  color: rgb(65, 65, 66);
}
.title img {
  display: none;
}
.content {
  margin: 5px;
  padding: 10px;
  border: 3px solid rgb(65, 65, 66);
  background-color: rgb(242, 242, 242);
  font-family: Arial;
}

/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(173, 222, 228);
  border: 3px solid rgb(65, 65, 66);
}
li {
  float: left;
}
li a {
  background-color: rgb(94, 191, 227) ;
  display: block;
  color: rgb(65, 65, 66);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 42px;
  margin-bottom: 42px;
  font-family: Palatino;
  font-weight: bold;
}
li a:hover {
  background-color: rgb(0, 83, 142);
  color: white;
}
li a:active {
  background-color: rgb(65, 65, 66);
  color: white;
}
.logo {
  float: right;
  height: 120px;
  margin: 5px;
}
@media all and (max-width: 595px) {
  ul.topnav li {
    float: none;
  }
  .logo {
    visibility: hidden;
    height: 0px;
    margin: 0px;
  }
  li a {
    padding: 4px 6px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .title {
    justify-content: space-between;
  }
  .title img {
    display: flex;
    margin: 4px;
  }
}

/* Tables */
table {
  border: 1px solid rgb(65, 65, 66);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-weight: bold;
  font-size: 16px;
  margin: 8px 0 12px;
}
table tr {
  background: rgb(173, 222, 228);
  border: 1px solid rgb(65, 65, 66);
  padding: 5px;
}
table th,
table td {
  padding: 10px;
  text-align: center;
}
table th {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media all and (max-width: 760px) {
  table {
    border: 0;
  }
  table thead {
    clip: rect(0 0 0 0);
    position: absolute;
  }
  table tr {
    border-bottom: 3px solid rgb(65, 65, 66);
    display: block;
    margin-bottom: 10px;
  }
  table td {
    border-bottom: 1px solid rgb(65, 65, 66);
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
