<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="title">
    <h1>Tags</h1>
  </div>

  <div class="content">
    <p><b>Add A New Tag:</b></p>

    <form action="/banked/tags" method="POST">

      <label for="name">Tag Name:</label>
      <input type="text" name="name" id="name" required/>

      <input type="submit" value="Add Tag">

    </form>

    <p><b>Filter Tags by Value:</b></p>

    <form action="/banked/tags/filter_value" method="POST">

      <label for="value-select"></label>
      <select name="operator" id="value-select">
        <option value="less">Less Than</option>
        <option value="greater">Greater Than</option>
      </select>

      <label for="value">Value: £</label>
      <input type="number" name="value" id="value" required/>

      <input type="submit" value="Filter By Value">

    </form>

    <a href="/banked/tags">Reset Filter</a>

    <p><b>All Current Tags:</b></p>

    <% @tags.each do |tag| %>

      <p>------------------------------</p>
      <p>Tag ID: <%= tag.id %></p>
      <p>Name: <a href="/banked/tags/<%= tag.id %>"><%= tag.name %></a></p>
      <p>Total Spend: £<%= "%.2f" % Tag.sum_tag_values(tag.id) %></p>

    <% end %>
  </div>

</body>
</html>
