<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="title">
    <h1>Tags</h1>
    <img height="75px" class="logo_sm" src="/images/banked_logo_final.png" alt="BankEd: You Can Bank On Ed!">
  </div>

  <div class="content">
    <div class="new_entry">
      <p><b>Add A New Tag:</b></p>

      <form action="/banked/tags" method="POST">

        <label for="name">Tag:</label>
        <input type="text" name="name" id="name" required/>

        <input type="submit" value="Add Tag">

      </form>
    </div>


    <div class="filter">
      <p><b>Filter Tags by Value:</b></p>

      <form action="/banked/tags/filter_value" method="POST">

        <label for="value-select">By Value:</label>
        <select name="operator" id="value-select">
          <option value="less">Less Than</option>
          <option value="greater">Greater Than</option>
        </select>

        <label for="value">Value (£):</label>
        <input type="number" name="value" id="value" required/>

        <input type="submit" value="Filter By Value">

      </form>

      <a href="/banked/tags">Reset Filter</a>
    </div>

    <table>
      <caption>All Current Tags</caption>
      <thead>
        <tr>
          <th scope="col">Tag ID</th>
          <th scope="col">Name</th>
          <th scope="col">Total Spend</th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
        <tr>
          <td data-label="Tag"><%= tag.id %></td>
          <td data-label="Name"><a href="/banked/tags/<%= tag.id %>"><%= tag.name %></a></td>
          <td data-label="Total Spend">£<%= "%.2f" % Tag.sum_tag_values(tag.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</body>
</html>
