<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="title">
    <h1>Tag Details:</h1>
  </div>

  <div class="content">
    <p><b>Edit And Update Tag:</b></p>

    <form action="/banked/tags/<%= @tag.id %>/edit" method="POST">

      <label for="name">Tag Name:</label>
      <input type="text" name="name" id="name" value="<%= @tag.name %>" required/>

      <input type="submit" value="Update Record">

    </form>

    <p><b>Permanently Delete Tag:</b></p>

    <form action="/banked/tags/<%= @tag.id %>/delete" method="POST">
      <button type="submit">Delete Record</button>
    </form>

    <p><b><i>WARNING: this will also delete any associated transactions.</i></b></p>
  </div>

</body>
</html>
