<h1>Tag Details:</h1>

<p><b>Edit And Update Tag:</b></p>

<form action="/banked/tags/<%= @tag.id %>/edit" method="POST">

  <label for="name">Tag Name:</label>
  <input type="text" name="name" id="name" value="<%= @tag.name %>"/>

  <input type="submit" value="Update Record">

</form>

<p><b>Permanently Delete Tag:</b></p>

<form action="/banked/tags/<%= @tag.id %>/delete" method="POST">
  <button type="submit">Delete Record</button>
</form>

<p><b><i>WARNING: this will also delete any associated transactions.</i></b></p>
