<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="title">
    <h1>New Transaction Details:</h1>
    <img height="75px" class="logo_sm" src="/images/banked_logo_final.png" alt="BankEd: You Can Bank On Ed!">
  </div>

  <div class="content">
    <div class="new_entry">
      </html><p><b>Add A New Tag To Complete Transaction:</b></p>

      <form action="/banked/transactions/new_tag" method="POST">

        <div class="">
          <label for="name">Tag:</label>
          <input type="text" name="name" id="name" required/>
        </div>
        
        <input type="text" name="description" id="description" value="<%= @description %>" hidden/>

        <input type="number" step="0.01" name="value" id="value" value="<%= @value %>" hidden/>

        <input type="date" name="spend_date" id="spend_date" value="<%= @spend_date %>" hidden/>

        <input type="number" name="merchant_id" id="merchant_id" value="<%= @merchant_id %>" hidden/>

        <input type="submit" value="Complete Transaction">

      </form>
    </div>

  </div>

</body>
